<% provide :title, t(".help") %>
<h1> <%= t ".help" %></h1>
<p>
  <p><%= full_title t".help" %></p>
  <%= t ".get_help" %>
  <%= t ".get_help_rails" %>
  <%= link_to t(".help_page_rails"), Settings.ruby_rails_help %>
  <%= t ".help_page_rails" %>
  <%= link_to t(".ruby_rails"), Settings.ruby_rails_book %>
</p>
