<% provide :title, t(".head") %>
<h1> <%= t ".intro" %></h1>
<p><%= full_title t".content" %></p>
<p>
  <br>
  <%= t ".content" %>
  <%= link_to t(".ruby_rails"), Settings.ruby_rails_book %>
  <%= t ".intro" %>
</p>
