<footer class="footer">
  <small>
      <%= link_to t(".ruby_rails"),"#" %>
     <%= link_to t(".michael"),"#" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"),"#" %></li>
      <li><%= link_to t(".contact"), "#" %></li>
      <li><%= link_to t(".news"), "#" %></li>
    </ul>
  </nav>
</footer>
