<h1><%= t ".help" %></h1>
<p>
  <%= t ".get_help" %>
  <%= t ".get_help_rails" %>
  <%= link_to t("help_page_rails"), "http://www.railstutorial.org/help" %>
  <%= t ".help_page_rails" %>
  <%= link_to t("ruby_rails"), "http://www.railstutorial.org/book" %>
</p>
