<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: Settings.micropost.size_post), micropost.user %>
  <span class="user"><%= link_to micropost.user_name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.image if micropost.image.attached? %>
  </span>
  <span class="timestamp">
    <%= t "micropost.posted" %><%= time_ago_in_words micropost.created_at %><%= t "micropost.posted_ago" %>
    <% if current_user? micropost.user %>
      <%= link_to t("micropost.delete"), micropost, method: :delete, data: {confirm: t("micropost.delete_confirm")} %>
    <% end %>
  </span>
</li>
